@model TrailerOrder.ViewModels.AddEmployeeViewModel

@{
    ViewData["Title"] = "Add Employee";
}
<h2>@ViewData["Title"]</h2>

<form asp-controller="Employee" asp-action="Add" method="post">

    <fieldset>

        <div class="form-group">
            <label asp-for="FirstName">Firs tName </label>
            <input class="form-control" asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>


        <div class="form-group">
            <label asp-for="LastName">Last Name </label>
            <input class="form-control" asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>


        <div class="form-group">
            <label asp-for="DOB">Date Of Birth</label>
            <input class="form-control" asp-for="DOB" />
            <span asp-validation-for="DOB"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" name="submitButton" />
        </div>

    </fieldset>
</form>