@model TrailerOrder.ViewModels.EditEmployeeViewModel

@{
    ViewData["Title"] = "Edit Employee";
}
<h2>@ViewData["Title"]</h2>

<form asp-controller="Employee" asp-action="Edit" method="post">


    <div>@Model.EmployeeID</div>

    <fieldset>

        <input type="hidden" name="EmployeeID" value="@Model.EmployeeID" />


        <div class="row" style="margin-top: 1rem;">
            <div class="col-md-4">
                <label asp-for="FirstName">First Name </label>
                <input class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>


            <div class="col-md-4">
                <label asp-for="MiddleName">Middle Name</label>
                <input class="form-control" asp-for="MiddleName" />
                <span asp-validation-for="MiddleName"></span>
            </div>


            <div class="col-md-4">
                <label asp-for="LastName">Last Name </label>
                <input class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>
        </div>


        <div class="row" style="margin-top: 1rem;">
            <div class="col-md-2">
                <label asp-for="Dob">Date of birth</label>
                <input class="form-control" asp-for="Dob" />
                <span asp-validation-for="Dob"></span>
            </div>
        </div>



        <div class="row" style="margin-top: 1rem;">
            <div class="col-md-2">
                <label asp-for="StreetNumber">Street Number</label>
                <input class="form-control" asp-for="StreetNumber" />
                <span asp-validation-for="StreetNumber"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="StreetName">Street Name</label>
                <input class="form-control" asp-for="StreetName" />
                <span asp-validation-for="StreetName"></span>
            </div>


            <div class="col-md-3">
                <label asp-for="City">City</label>
                <input class="form-control" asp-for="City" />
                <span asp-validation-for="City"></span>
            </div>


            <div class="col-md-2">
                <label asp-for="ZipCode">Zip Code</label>
                <input class="form-control" asp-for="ZipCode" />
                <span asp-validation-for="ZipCode"></span>
            </div>

        </div>

        <div class="row" style="margin-top: 1rem;">
            <div class="col-md-3">
                <label asp-for="SSN">Social Security Number</label>
                <input class="form-control" asp-for="SSN" />
                <span asp-validation-for="SSN"></span>
            </div>


            <div class="col-md-3">
                <label asp-for="SsnConfirm">Confirm Social Security Number</label>
                <input class="form-control" asp-for="SsnConfirm" />
                <span asp-validation-for="SsnConfirm"></span>
            </div>

        </div>

        <div class="row" style="margin-top: 1rem;">
            <div class="col-md-2">
                <label asp-for="Title">Job Title</label>
                <select class="form-control" asp-for="Title" asp-items="Model.EmployeeTitles"> </select>
                <span asp-validation-for="Title"></span>
            </div>
        </div>

        <div class="row" style="margin-top: 1rem;">
            <div class="col-md-3">
                <label asp-for="LicNumber">License Number</label>
                <input class="form-control" asp-for="LicNumber" />
                <span asp-validation-for="LicNumber"></span>
            </div>


            <div class="col-md-3">
                <label asp-for="LicIssue">License Issuance Date</label>
                <input class="form-control" asp-for="LicIssue" />
                <span asp-validation-for="LicIssue"></span>
            </div>


            <div class="col-md-3">
                <label asp-for="LicExpire">License Expiration date</label>
                <input class="form-control" asp-for="LicExpire" />
                <span asp-validation-for="LicExpire"></span>
            </div>

        </div>


        <div class="row" style="margin-top: 1rem;">
            <div class="col-md-3">
                <label asp-for="MedCardNumber">Medical Card Number</label>
                <input class="form-control" asp-for="MedCardNumber" />
                <span asp-validation-for="MedCardNumber"></span>
            </div>


            <div class="col-md-3">
                <label asp-for="MedIssue">Medical Card Issuance Date</label>
                <input class="form-control" asp-for="MedIssue" />
                <span asp-validation-for="MedIssue"></span>
            </div>


            <div class="col-md-3">
                <label asp-for="MedExpire">Medical Card Expiration Date</label>
                <input class="form-control" asp-for="MedExpire" />
                <span asp-validation-for="MedExpire"></span>
            </div>



        </div>


        <div class="row" style="margin-top: 1rem;">

            <div class="col-md-3">
                <label asp-for="UserName">User Name</label>
                <input class="form-control" asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
            </div>

        </div>


        <div class="row" style="margin-top: 1rem;">

            <div class="col-md-3">
                <label asp-for="Password">Password</label>
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>


            <div class="col-md-3">
                <label asp-for="PasswordConf">Password</label>
                <input class="form-control" asp-for="PasswordConf" />
                <span asp-validation-for="PasswordConf"></span>
            </div>

        </div>


        <div class="row" style="margin-top: 1rem;">
            <div class="col-md-3">
                <input type="submit" value="Submit" name="submitButton" />
            </div>
        </div>

    </fieldset>
</form>